c1150.dat
c1010.dat
c1021.dat
c1161.dat
c1171.dat
c1281.dat
mangoSourceJava8/mangoSource/build.properties
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/MangoTeam5.iml
mangoSourceJava8/mangoSource/build.properties
mangoSourceJava8/mangoSource/build/WEB-INF/classes/env.properties
mangoSourceJava8/mangoSource/build.properties
